---
---

<!DOCTYPE html>
<html lang="es">
<head>
  <title>{{ site.data.settings.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- import CSS files here -->
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
  {% include header.html %}
  {% include about.html %}
  {% include work.html %}
  {% include clients.html %}
  {% include social.html %}
  {% include contact.html %}
  {% include footer.html %}

  <!-- import JS files here -->
  <script src="assets/js/jquery-1.11.3.min.js"></script>
  <script src="assets/js/functions.js"></script>
</body>
</html>
