<section class="about-section">
  <h3 id="who-we-are">¿Quiénes somos?</h3>

  <div class="about">
    {% for avatar in site.data.settings.avatars %}
      <div>
        <figure class="avatar-info">
          <a class="avatar-ref" href="{{ avatar.url }}" target="_target">
            <img class="avatar-{{ avatar.class }}" src="assets/img/{{ avatar.img }}">
          </a>
          <figcaption>
            <strong class="avatar-name">{{ avatar.name }}</strong>
          </figcaption>
        </figure>
      </div>
    {% endfor %}

    <!-- <div class="avatar"></div>
    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div> -->
  </div>

  <div class="blurb">
    {{ site.data.settings.blurb | markdownify }}
  </div>

  <div class="skills">
    {% for skill in site.data.settings.skills %}
      <div class="skill-unit">
        <div class="skill-label">{{ skill.name }}</div>
        <div class="skill-level level-{{ skill.value }}">
          {% for i in (1..10) %}
            <span></span>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
