h3
  padding: 50px 0 30px
  @extend %small-bold
  color: $accent-light
  text-transform: uppercase
  text-align: center

figure
  margin: 0
  padding: 0

.about
  max-width: 860px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +justify-content(space-around)

  .avatar-info
    text-align: center

    .avatar-ref
      display: block
      height: 100%
      width: 100%

      [class^="avatar-"]
        +size(125px)
        border-radius: 100%
        background-size: auto

        &.avatar-adrian-ordaz
          +order(1)
          border: 1.5px solid $accent-light
          background: url(../img/adrian-synds.jpg)

        &.avatar-ray-resendez
          +order(2)
          border: 1.5px solid $accent-light
          background: url(../img/ray-synds.jpg) left center
        &.avatar-alex-rojas
          +order(3)
          border: 1.5px solid $accent-light
          background: url(../img/alex-synds.jpg) right top
        &.avatar-jose-dguez
          +order(4)
          border: 1.5px solid $accent-light
          background: url(../img/myself.jpg) left top
        &.avatar-miguel-serrano
          +order(5)
          border: 1.5px solid $accent-light
          background: url(../img/miguel-synds.jpg)
        &.avatar-yansey-dguez
          +order(6)
          border: 1.5px solid $accent-light
          background: url(../img/yansey-synds.jpg) center center

@media screen and (max-width: 650px)
  .about
    display: block
    text-align: center

    div
      display: inline-block

    .avatar
      display: block
      background-position: center center
      background-repeat: no-repeat
      margin: 0 auto 30px

    [class^="icon-"]
      margin: 10px

.blurb
  max-width: 640px
  padding: 0 10px
  margin: 50px auto 50px
  font-size: 24px
  text-align: justify
  font-weight: 300

.skills
  max-width: 540px
  margin: 100px auto
  color: #999
  +clearfix


  .skill-unit
    width: 270px
    float: left

  .skill-level
    font-size: 0
    margin: 3px 0 30px

    span
      display: inline-block
      +size(14px)
      background-color: $accent-dark
      margin-right: 8px
      border-radius: 50%

      &:after
        content: ''
        display: block
        +size(10px)
        background: #fff
        border-radius: 50%
        margin: 2px

    @for $i from 1 through 10
      &.level-#{$i} span:nth-child(n+#{$i+1})
        @extend %level-color

%level-color
  background: $back-color

@media screen and (max-width: 541px)
  .skills
    width: 220px

    .skill-unit
      width: 220px
